@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.homepageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 10rem;
    height: auto;
  }
  
  .headerIcons {
    display: flex;
    gap: 20px;
  }
  
  .content {
    text-align: center;
    max-width: 600px;
    margin-top: 50px;
  }
  
  .title {
    color: #6D28D9;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  
  .illustration {
    width: 100%;
    max-width: 300px;
  }
  
  .description {
    color: #6b6b6b;
    margin: 20px 0;
    font-family: "Lato", sans-serif;
  }
  
  .createButton {
    background-color: #6D28D9;
    color: #fff;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 120px;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .illustration {
      max-width: 250px;
    }
  }
  